<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-spawnsync" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Patch Node child_process.spawnSync plugin</name>
    <description>
        Cordova plugin to patch Node version pre 0.11.12 child_process with spawnSync().
        Useful in combination with other Cordova plugins that use spawnSync, typically to install npm dependencies.
        Node child_process.spawnSync has been introduced in version 0.11.12, but typically Meteor 1.3 is still using Node 0.10.43.
    </description>
    <license>MIT</license>
    <keywords>cordova,node,child_process,spawn-sync,synchronous</keywords>

    <repo>https://github.com/ghybs/cordova-plugin-spawnsync</repo>
    <issue>https://github.com/ghybs/cordova-plugin-spawnsync/issues</issue>

    <!-- Hooks -->
    <hook src="beforePluginInstallHook.js" type="before_plugin_install" />

</plugin>
